<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    {{!-- <link rel="icon" href="./img/favicon.png" /> --}}
    <link rel="stylesheet" href="./stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <h2 class="title">Vartalap</h2>
      <div class="login-buttons">
        <button><a href="/signup" >Sign Up</a></button>
        <button><a href="/signin" >Log In</a></button>
      </div>
    </div>
    <div class="main">
      <div class="main-left">
        <div class="main-left-content">
          <p>A place for you to connect</p>
          <h3>Connecting you to the world of different voices.</h3>
          <div class="for-group">For Groups</div>
        </div>
      </div>
      <div class="main-right">
        <img src="./assets/home-pattern@2x.png" class="pattern" />
        <img src="./assets/landing-photo@2x.png" class="right-img" />
      </div>
    </div>
    <div class="why">
      <h2>Why Vartalap?</h2>
      <p>
        Vartalap provides robust <span>Group</span> messaging platform for users
        to connect and be productive.
      </p>
    </div>
    <div class="features">
      <h2>Features of Vartalap!</h2>
      <div class="feature">
        <img src="./assets/signinss@2x.png" alt="" />
        <div>
          <h3>Secured Account Creation</h3>
          <p>
            Account creation for users and real time authentication with
            Javascript Web Tokens. Account details stored in backend, hosted at
            MongoDB.
          </p>
        </div>
      </div>
      <div class="feature">
        <img src="./assets/groupss@2x.png" alt="" />
        <div>
          <h3>Create/Groups and Share with Friends</h3>
          <p>
            Users can create groups by simply entering a unique name. And also
            have the option to join groups hosted by their friends, by simply
            entering the group name provided by their friends.
          </p>
        </div>
      </div>
      <div class="feature">
        <img src="./assets/chatss@2x.png" alt="" />
        <div>
          <h3>Great Chat User Experience</h3>
          <p>
            The simple and yet intuitive UI/UX of our Chat App makes it very
            friendly and usable for our users. Ability to view all the members
            of the group and also instantly access all mesages makes it a great
            Chat App.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
